<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCITS</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <link rel="stylesheet"
        href="https://www.ville-pont-eveque.fr/tools/library/DataTables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://www.ville-pont-eveque.fr/tools/library/DataTables/extensions/Select/css/select.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
</head>

<body>


    <div class="main_wrapper">
        <header>
            <div class="topbaar">
                <div class="container-fluid bg-light p-0">
                    <div class="row gx-0 d-none d-lg-flex">
                        <div class="col-lg-2 px-3 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-1 ms-3">
                                <a href="index.html" class="brand_logo"><img src="assets/imagrs/ewm_logo.png"
                                        alt="ewm_logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-10 px-3 text-end toprigihticon">


                            <div class="h-100 d-inline-flex align-items-center me-5">
                                <a class="btn btn-sm-square bg-white text-primary me-1" href="#!"><i
                                        class="material-symbols-outlined"> group</i></a>
                                <a class="btn btn-sm-square bg-white text-primary me-1" href="#!"><i
                                        class="material-symbols-outlined"> dns</i></a>
                                <a class="btn btn-sm-square bg-white text-primary me-1" href="#!"><i
                                        class="material-symbols-outlined"> mail </i></a>
                                <a class="btn btn-sm-square bg-white text-primary me-0" href="#!"><i
                                        class="material-symbols-outlined"> notifications </i></a>
                            </div>

                            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle profileDrop" data-bs-toggle="dropdown">
                                        Welcome back Sam
                                    </a>
                                    <div class="dropdown-menu fade-up m-0">
                                        <a href="#" class="dropdown-item">Products</a>
                                        <a href="#" class="dropdown-item">Our Team</a>
                                        <a href="#" class="dropdown-item">Testimonial</a>
                                        <a href="#" class="dropdown-item">Our Works</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menubaar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-light sticky-top px-3">

                        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <div class="navbar-nav ml-auto p-4 p-lg-0">

                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                        <span><i class="material-symbols-outlined"> keep_public </i></span>
                                        Lead
                                    </a>
                                    <div class="dropdown-menu fade-up m-0">
                                        <a href="new_leads.html" class="dropdown-item">New Lead</a>
                                        <a href="all_leads.html" class="dropdown-item">All Leads</a>
                                        <a href="my_leads.html" class="dropdown-item">My Leads</a>
                                        <a href="unassigned_leads.html" class="dropdown-item">Unassigned Leads</a>
                                        <a href="actioned_Leads.html" class="dropdown-item">Actioned Leads</a>
                                        <a href="rejected_leads.html" class="dropdown-item">Rejected Leads</a>
                                        <a href="authorization.html" class="dropdown-item">Authorization</a>
                                        <a href="converted_leads.html" class="dropdown-item">Converted Leads</a>
                                        <a href="search_leads.html" class="dropdown-item">Search Leads</a>
                                        <a href="lead_tasks.html" class="dropdown-item">Lead Tasks</a>
                                    </div>
                                </div>

                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> description </i></span>
                                    Quotes
                                </a>

                                <div class="nav-item dropdown">
                                    <a href="#!" class="nav-item nav-link active dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                        <span><i class="material-symbols-outlined">work </i></span>
                                        Jobs
                                    </a>
                                    <div class="dropdown-menu fade-up m-0">
                                        <a href="Job_dashboard.html" class="dropdown-item">Dashboard</a>
                                        <a href="new_job.html" class="dropdown-item">New Jobs</a>
                                        <a href="jobs.html" class="dropdown-item">Active Jobs</a>
                                        <a href="job_type.html" class="dropdown-item">Job Type</a>
                                        <a href="unassigned_jobs.html" class="dropdown-item">Unassigned Jobs</a>
                                        <a href="action_required_jobs.html" class="dropdown-item">Action Required
                                            Jobs</a>
                                        <a href="overdue_jobs.html" class="dropdown-item">Overdue Jobs</a>
                                        <a href="authorization_jobs.html" class="dropdown-item">Authorization Jobs</a>
                                        <a href="on_hold.html" class="dropdown-item">On Hold</a>
                                        <a href="search_jobs.html" class="dropdown-item">Search Jobs</a>
                                        <a href="appointments.html" class="dropdown-item">Appointments</a>
                                        <a href="recurring_jobs.html" class="dropdown-item">Recurring Jobs</a>
                                    </div>
                                </div>


                                <a href="planner_day.html" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> planner_review </i></span>
                                    Planner
                                </a>
                                <a href="#!" class="nav-item nav-link">
                                    <span><i class="material-symbols-outlined"> business_center</i></span>
                                    Projects
                                </a>

                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined">finance_mode </i></span>
                                    Finance
                                </a>
                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> contact_support </i></span>
                                    Contacts
                                </a>
                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> production_quantity_limits</i></span>
                                    Products
                                </a>
                                <a href="#" class="nav-item nav-link">
                                    <span><i class="material-symbols-outlined"> calculate </i></span>
                                    Expenses
                                </a>
                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> diversity_2 </i></span>
                                    Users
                                </a>
                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> partner_reports </i></span>
                                    Reports
                                </a>
                                <a href="#" class="nav-item nav-link dropdown-toggle ">
                                    <span><i class="material-symbols-outlined"> bookmark_manager</i></span>
                                    FileManager
                                </a>
                                <a href="#" class="nav-item nav-link dropdown-toggle">
                                    <span><i class="material-symbols-outlined"> construction</i></span>
                                    Tools
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>


        <section class="main_section_page px-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4 ">
                        <div class="pageTitle">
                            <h3>New Customer</h3>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-xl-8 px-3">
                        <div class="pageTitleBtn">
                            <a href="#" class="profileDrop"><i class="fa-solid fa-floppy-disk"></i> Save</a>
                            <a href="#" class="profileDrop"><i class="fa-solid fa-arrow-left"></i> Back</a>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="newJobForm">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="formDtail">
                                        <h4 class="contTitle">Customer Details</h4>
                                        <form action="" class="customerForm">
                                            <div class="mb-2 row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Customer
                                                    Name*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputName"
                                                        value="John Smith">
                                                </div>
                                            </div>

                                            <div class="mb-2 row">
                                                <label for="inputProject" class="col-sm-3 col-form-label">Region</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputCustomer">
                                                        <option>None</option>
                                                        <option>Default</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#!" class="formicon" id="openPopupButton"><i
                                                            class="fa-solid fa-square-plus"></i></a>
                                                </div>


                                                <!--Start Region Popup -->

                                                <!-- <div id="popup" class="popup">
                                                    <div class="popup-content">
                                                        <div class="popupTitle">
                                                            <span class="">Add Region</span>
                                                            <span class="close" id="closePopup">&times;</span>
                                                        </div>
                                                        <div class="contantbodypopup">
                                                            <form action="" class="customerForm">
                                                                <div class="mb-2 row">
                                                                    <label for="inputCity"
                                                                        class="col-sm-3 col-form-label">Region*</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text"
                                                                            class="form-control editInput"
                                                                            id="inputCity" value="Port Elizabeth">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-2 row">
                                                                    <label for="inputCity"
                                                                        class="col-sm-3 col-form-label">Status</label>
                                                                    <div class="col-sm-9">
                                                                        <select
                                                                            class="form-control editInput selectOptions"
                                                                            id="inputCustomer">
                                                                            <option>
                                                                                None
                                                                            </option>
                                                                            <option>
                                                                                Default
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="popupF  customer_Form_Popup">
                                                            <button type="button" class="profileDrop">Save</button>
                                                            <button type="button" class="profileDrop">Save
                                                                & Close</button>
                                                            <button type="button" class="profileDrop"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div> -->

                                                <!-- End off region Popup -->

                                            </div>

                                            <!-- End off Customer -->

                                            <div class="mb-2 row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Conatact
                                                    Name*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputName"
                                                        value="John Smith">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputProject" class="col-sm-3 col-form-label">Job Title
                                                    (Position)</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputCustomer" disabled>
                                                        <option>None</option>
                                                        <option>Default</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#!" class="formicon"><i
                                                            class="fa-solid fa-square-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputEmail"
                                                        value="roxy.scits@gmail.com">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputTelephone"
                                                    class="col-sm-3 col-form-label">Telephone</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput"
                                                        id="inputTelephone" value="14000883788">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputMobile" class="col-sm-3 col-form-label">Mobile</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputMobile"
                                                        value="Mobile No.">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Fax*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputName"
                                                        value="John Smith">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="inputAddress"
                                                    class="col-sm-3 col-form-label">Website</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputCity"
                                                        value="Port Elizabeth">
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="inputCounty" class="col-sm-3 col-form-label">Default
                                                    Catalogue</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputCustomer" disabled>
                                                        <option>None</option>
                                                        <option>Site-2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputPincode" class="col-sm-3 col-form-label">Status</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputCustomer" disabled>
                                                        <option>Active</option>
                                                        <option>Site-2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="formDtail">
                                        <h4 class="contTitle">Address Details</h4>
                                        <form action="" class="customerForm">

                                            <div class="mb-3 row">
                                                <label for="inputProject" class="col-sm-3 col-form-label">Region</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputCustomer">
                                                        <option>None</option>
                                                        <option>Default</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#!" class="formicon"><i
                                                            class="fa-solid fa-square-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputAddress"
                                                    class="col-sm-3 col-form-label">Address</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control textareaInput" name="address"
                                                        id="inputAddress" rows="3"
                                                        placeholder="75 Cope Road Mall Park USA"></textarea>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputCity" class="col-sm-3 col-form-label">City</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputCity"
                                                        value="Port Elizabeth">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputCounty" class="col-sm-3 col-form-label">County</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputCounty"
                                                        placeholder="Site County">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputPincode"
                                                    class="col-sm-3 col-form-label">Pincode</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputPincode"
                                                        value="6001">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputCountry"
                                                    class="col-sm-3 col-form-label">Country</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput" id="inputCountry"
                                                        value="South Africa">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputAddress" class="col-sm-3 col-form-label">Site
                                                    Notes</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control textareaInput" name="address"
                                                        id="inputAddress" rows="3" placeholder="Site Notes"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="formDtail">
                                        <h4 class="contTitle">Other Details</h4>
                                        <form action="" class="customerForm">
                                            <div class="mb-3 row">
                                                <label for="inputJobType"
                                                    class="col-sm-3 col-form-label">Currency</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputJobType">
                                                        <option>British Pound - GBP</option>
                                                        <option>Default</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputCustomer" class="col-sm-3 col-form-label">Credit
                                                    Limit</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput textareaInput"
                                                        id="inputCustomer" placeholder="Customer Ref if any">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputCustomer"
                                                    class="col-sm-3 col-form-label">Discount</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput textareaInput"
                                                        id="inputCustomer" placeholder="Customer Job if any">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputJobType" class="col-sm-3 col-form-label">Discount
                                                    Type</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputJobType">
                                                        <option>Percentage</option>
                                                        <option>Default</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputPurchase" class="col-sm-3 col-form-label">Sage
                                                    Ref.</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput textareaInput"
                                                        id="inputPurchase" placeholder="Sage Ref.">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputJobType" class="col-sm-3 col-form-label">Company
                                                    Reg</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput textareaInput"
                                                        id="inputPurchase" placeholder="Company Reg">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="inputPriority" class="col-sm-3 col-form-label">VAT / Tax
                                                    No.</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control editInput textareaInput"
                                                        id="inputPurchase" placeholder="">
                                                </div>
                                            </div>
                                            <div class="mb-2 row">
                                                <label class="col-sm-3 col-form-label">Payment Terms</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control editInput selectOptions"
                                                        id="inputPriority">
                                                        <option>Default</option>
                                                        <option>None</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="form-check-label checkboxtext" for="checkalrt">
                                                        days</label>
                                                </div>

                                            </div>
                                    </div>
                                    <div class="mb-0 row">
                                        <label class="col-sm-3 col-form-label">Assigned Products</label>
                                        <div class="col-sm-9">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio1" value="option1" checked>
                                                <label class="form-check-label checkboxtext"
                                                    for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkboxtext"
                                                    for="inlineRadio2">No</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputTelephone" class="col-sm-3 col-form-label">Start
                                            Date*</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control textareaInput" name="address"
                                                id="inputAddress" rows="3" placeholder="Site Notes"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputMobile" class="col-sm-3 col-form-label">Dflt Products
                                            Tax</label>
                                        <div class="col-sm-9">
                                            <select class="form-control editInput selectOptions" id="inputPriority">
                                                <option>Please Select</option>
                                                <option>None</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="inputCountry" class="col-sm-3 col-form-label">Dflt Services
                                            Tax</label>
                                        <div class="col-sm-9">
                                            <select class="form-control editInput selectOptions" id="inputPriority">
                                                <option>Please Select</option>
                                                <option>None</option>
                                            </select>
                                        </div>
                                    </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        <div class="newJobForm mt-4">
                            <label class="upperlineTitle">Customer Message</label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3 row">
                                        <label for="inputCountry" class="col-sm-2 col-form-label">Show Message</label>
                                        <div class="col-sm-10">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="inlinecheckOptions"
                                                    id="checkalrt" value="option1">
                                                <label class="form-check-label checkboxtext" for="checkalrt">Yes, show the
                                                    message</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="" class="col-md-2 col-form-label">Message</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control textareaInput" name="address" id="inputAddress"
                                                rows="3" placeholder="Site Notes"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="" class="col-md-2 col-form-label">Section</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" name="" id="" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End  off newJobForm -->
                        <div class="newJobForm mt-4">
                            <label class="upperlineTitle">Additional Contacts</label>
                            <div class="row">
                                <div class="col-sm-12 mb-3 mt-2">
                                    <div class="jobsection">
                                        <a href="#" class="profileDrop">Add Contact</a>
                                        <a href="#" class="profileDrop">Export</a>
                                        <a href="#" class="profileDrop">Import</a>
                                        <label class="col-form-label"><a href="#!">Click here </a>to download import template</label>
                                        <label>
                                            <a href="#" class="profileDrop dropdown-toggle ms-2">Bulk Action</a>
                                        </label>
                                    </div>                                    
                                </div>
    
                                <div class="col-sm-12">
                                    <div class="productDetailTable">
                                        <table class="table">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Asset Ref </th>
                                                    <th>Title </th>
                                                    <th>Description</th>
                                                    <th>Asset Status </th>
                                                    <th>Assigned To </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End  off newJobForm -->

                        <div class="newJobForm mt-4">
                            <label class="upperlineTitle">Customer Sites</label>
                            <div class="row">
                                <div class="col-sm-12 mb-3 mt-2">
                                    <div class="jobsection">
                                        <a href="#" class="profileDrop">Add Site</a>
                                        <a href="#" class="profileDrop">Export</a>
                                        <a href="#" class="profileDrop">Import</a>
                                        <label class="col-form-label"><a href="#!">Click here </a>to download import template</label>
                                        <label>
                                            <a href="#" class="profileDrop dropdown-toggle ms-2">Bulk Action</a>
                                        </label>
                                    </div>                                    
                                </div>
    
                                <div class="col-sm-12">
                                    <div class="productDetailTable">
                                        <table class="table">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Asset Ref </th>
                                                    <th>Title </th>
                                                    <th>Description</th>
                                                    <th>Asset Status </th>
                                                    <th>Assigned To </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End  off newJobForm -->

                        <div class="newJobForm mt-4">
                            <label class="upperlineTitle">Customer Logins</label>
                            <div class="row">
                                <div class="col-sm-12 mb-3 mt-2">
                                    <div class="jobsection">
                                        <a href="#" class="profileDrop">Add Login</a>
                                        
                                    </div>                                    
                                </div>
    
                                <div class="col-sm-12">
                                    <div class="productDetailTable">
                                        <table class="table">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Asset Ref </th>
                                                    <th>Title </th>
                                                    <th>Description</th>
                                                    <th>Asset Status </th>
                                                    <th>Assigned To </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                    <td>..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End  off newJobForm -->


                    </div> <!-- End  off col-12 -->
                
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="pageTitleBtn">
                                <a href="#" class="profileDrop"><i class="fa-solid fa-floppy-disk"></i> Save</a>
                                <a href="#" class="profileDrop"><i class="fa-solid fa-arrow-left"></i> Back</a>
        
                            </div>
                        </div>
                
                </div>
            </div>

            
    </div>
    </section>



    <footer class="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="f_text">
                        <p>Powered by <a href="#!">Eworks Manager</a> @ 2020 v. 6.9.53, last updated : 22/04/2020
                            17:02 (A2) Our <a href="#!"> Teams Of Business</a> and <a href="#!">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    </div><!-- End off main_wrappper -->

    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="https://www.ville-pont-eveque.fr/tools/library/DataTables/media/js/jquery.dataTables.js"></script>
    <script
        src="https://www.ville-pont-eveque.fr/tools/library/DataTables/extensions/Select/js/dataTables.select.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>


        //Text Editer

        var editor_config = {
            toolbar: [
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat'] },
                { name: 'format', items: ['Format'] },
                { name: 'paragraph', items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList'] },
                { name: 'link', items: ['Link', 'Unlink'] },
                { name: 'undo', items: ['Undo', 'Redo'] }
            ],
        };

        CKEDITOR.replace('textarea1', editor_config);
        CKEDITOR.replace('textarea2', editor_config);
        CKEDITOR.replace('textarea3', editor_config);
        //Text Editer




        const openPopupButton = document.getElementById('openPopupButton');
        const popup = document.getElementById('popup');
        const closePopup = document.getElementById('closePopup');

        openPopupButton.addEventListener('click', () => {
            popup.style.display = 'block';
            setTimeout(() => {
                popup.style.opacity = '1';
            }, 50); // Delay added for transition effect
        });

        closePopup.addEventListener('click', () => {
            popup.style.opacity = '0';
            setTimeout(() => {
                popup.style.display = 'none';
            }, 300); // Ensure the popup is hidden after the transition ends
        });




    </script>
</body>

</html>