.timeline-messages {
    text-align: center;
}

.message-body.msg-in.rightmsg {
    left: 210px;
}

.message-body.msg-in.leftmsg {
    right: 250px;
}

.timeline-messages .msg-in .arrow {
    border-right: 0px solid #949496 !important;
}

.timeline-messages .msg-in.rightmsg .arrow {
    border-right: 8px solid #949496 !important;
}

.timeline-messages .msg-in.leftmsg .arrow {
    right: -2px;
    left: inherit;
    border-left: 8px solid #949496 !important;
}

.timeline-messages:before,
.msg-time-chat:before,
.msg-time-chat .text:before {
    content: "";
    left: 50%;
    position: absolute;
    top: -2px;
}

.msg-time-chat .msg-in .text .second {
    margin-right: 6px;
    display: flex;
    padding: 9px 10px;
    min-width: 434px;
}

.msg-time-chat .msg-in .text .second p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 24ch;
}

span.timelineIcons {
    border-left: 1px solid #fff;
    margin-left: 10px;
}

.timelineIcons a {
    padding: 0px 10px;
    /* border-right: 1px solid #fff; */
    border-radius: 0;
    margin-right: 0;
    color: #fff;
}

.timelineIcons a:last-child {
    border-right: none;
}

.timelineIcons a:hover {
    border-radius: 0;
    margin-right: 0;
}

.timelineIcons a {
    color: #fff;
    font-size: 16px;
    transition: .7s;
}

.timelineIcons a:hover {
    color: #000;
    font-size: 16px;
}

.msg-time-chat {
    overflow: inherit;
}

.leftmsg span.timelineIcons {
    border-right: 1px solid #fff;
    margin-right: 10px;
    border-left: none;
    margin-left: 0;
}

.leftmsg ul.dd-menu {
    left: -183px;
}

.leftmsg .dd-button {
    padding: 0px 10px 0px 4px;
}

/* *********************** */
.timelinedropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}

.dd-button {
    display: inline-block;
    padding: 0px 4px 0px 12px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: -11px;
    left: 42px;
    border-radius: 4px;
    padding: 10px;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index: 999;
    width: 172px;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li a {
    display: block;
    color: #000;
    padding: 8px 10px;
    cursor: pointer;
    white-space: nowrap;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    transition: .7s;
    border-radius: 4px;
}

.dd-menu li a:hover {
    color: #333;
    background: #F1F2F7;
    font-size: 14px;
}

.dd-menu li a i {
    margin-right: 8px;
}

.dd-menu li a:hover i {
    color: #1f88b5;
}

.actionForm {
    display: flow-root;
}


.back_opt {
    background: #1f88b5;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    padding: 8px 18px;
    z-index: 999;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: inline-block;
}

.back_opt:hover i {
    color: #fff;
}

.timeline .time-show {
    text-align: center;
    margin-right: 0px;
}

.timeline .time-show .btn {
    min-width: 150px;
    cursor: auto;
}
.timeline .time-show .btn:hover{
    background-color: #1fb5ad;
}

#logs_articles {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    min-height: 50vh;
}

.daily_log_time {
    position: inherit !important;
    bottom: 5px;
    font-size: 13px;
    color: #686868;
    font-weight: 400;
    margin-top: 20px;
}

.timeline-item.alt h1,
.timeline-item.alt p {
    text-align: left;
}

.logimg {
    float: right;
    margin-bottom: 38px;
}

.comment-detail-info-area {
    width: 100%;
}

.comment-number-bnt-info {
    position: absolute;
    right: 20px;
    bottom: 0px;
}


.logimg img {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.Select_staff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Select_staff_inner {
    margin: 10px 0;
}

@media (max-width:890px) {
    .Select_staff_inner {
        width: 100%;
        margin: 10px 0;
    }
}

.timelineInput {
    display: flex;
    justify-content: end;
}

.timelineInput a {
    order: 1;
    width: 50%;
}

.timelineInput a span input,
.rightSideInput a span input {
    color: #fff;
    height: 40px;
    border: none;
}

.timLineDate {
    background-color: #777;
    color: #fff;
    border-radius: 4px;
    padding: 7px 16px;
    order: 3;
    display: block;
    margin-left: 6px;
    line-height: 24px;
    position: relative;
    min-width: 180px;
}

.rightSideInput {
    margin-top: 60px;
    display: flex;
}

.ritOrdring.one {
    order: 2;
}

.ritOrdring.two {
    order: 3;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.ritOrdring.three {
    order: 1;
}

.rightSideInput a {
    width: 50%;
}

.rightSideInput .rightdate {
    background-color: #777;
    color: #fff;
    border-radius: 4px;
    padding: 7px 6px;
    display: block;
    margin-right: 6px;
    line-height: 24px;
    position: relative;
    min-width: 180px;
}

.pop-notifbox.active {
    opacity: 1;
    visibility: visible;
}

.arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #777777 !important;
    display: block;
    height: 0;
    right: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.rightArrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #777777 !important;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.popovr .form-control {
    border-radius: 0px;
}

.cog-panel .input-group {
    position: relative;
}

.rightSideInput::after,
.timelineInput::after {
    content: '';
    position: absolute;
    bottom: 16px;
    right: -36px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #777777;
}

.rightSideInput::after {
    right: inherit;
    left: -35px;
}

.ritOrdring.two:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 1px;
    height: 20px;
    background: #fff;
}

.timelineInput .input-group-addon:before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 20px;
    background: #fff;
}

/* input#date_range_input {
    width: 100%;
} */

.form-group.has-feedback {
    padding: 0px 0px 10px 0px;
}

.timelineInput .pop-notifbox {
    /* right: 54px; */
    left: 0;
    top: 50px;
}
.rightSideInput .pop-notifbox {
    right: 0;
    display: inline-table;
    left: inherit;
    top: 50px;
}

.rmpTimeLft .pop-notifbox {
    right: inherit;
    left: 0;
}
.timelineInput .pop-notification::after {
    content: "\f0d7";
    font-family: 'fontawesome';
    left: 10px;
    right: auto;
    position: absolute;
    top: -22px;
    color: #fff;
    transform: rotate(180deg);
}
.pop-notification::after {
    content: "\f0d8";
    font-family: fontawesome;
    right: 12px;
    left: auto;
    position: absolute;
    top: -24px;
    color: #fff;
}

/*  nEW CSS */

  /*09 Aug 2018*/
.back_opt {
    background: #1f88b5;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    padding: 8px 18px;
    z-index: 999;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: inline-block;
}

.back_opt:hover i {
    color: #fff;
}
/* 
i.fa.fa.fa-h-square {
    color: #1f88b5;
    font-size: 25px;
} */

.space_bottom {
    margin-bottom: 7px !important;
}

.timeline,
#logs_articles {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    min-height: 50vh;
}
.timeline .time-show {
    margin-right: 0px;
    text-align: center;
}

span.viewEditIcon {
    position: absolute;
    right: 24px;
}

/* Start css rmpTimeline */

.rmpTimelineright {
    margin-top: 72px;
    margin-bottom: 24px;
}
.input-group.popovr.rmpTimeLft {
    justify-content: end;
}
.rmpTimeRit .rmpWithPlusInput{
    display: flex;
    width: 60%;
}


.rmpTimeRit .timLineDate{
    order: unset;
    margin-right: 6px;
}

.rmpTimeLft .rmpWithPlusInput{
    display: flex;
    width: 60%;
}
.rmpWithPlusInput input{
    height: 40px;
    border: 0;
    color: #fff;
}

.rightSideInput.rmpTimeLft, .rightSideInput.rmpTimeRit{
    margin-top: 0;
}
.rightSideInput.rmpTimeLft::after {
    left: inherit;
    right: -35px;
}

.rmpTimeLft .rmpWithPlusInput input {
    order: 2;
    padding-left: 46px;
    color: #fff;
    text-align: right;
}
.rmpTimeRit .rmpWithPlusInput .input-plus {
    /* left: 152px;
    right: inherit;
    top: 4px; 
       right: 191px;
    top: 6px;*/
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 5px;
}
.rmpTimeLft .rmpWithPlusInput .input-plus{
    left: 206px;
    top: 6px;
    
}
.input-plus{
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
}
.input-plusbox.form-group.col-xs-12.p-0.detail{
     position: absolute;
    z-index: 8;
    background: #fff;
    width: 74%;
    padding-bottom: 14px !important;
}
.detail.leftTextarea {
    left: 23%;
    padding-bottom: 14px !important;
}
.detail.rightTextarea {
    right: 23%;
    padding-bottom: 14px !important;
}
.rmpTimeRit .arrow {
    left: 0;
    transform: rotate(180deg);
}

 /* .rightSideDate{
    padding-left: 120px;
 }
 .leftsideDate{
     padding-right: 120px;
 } */
 .logged-mfc-list .rightSideInput::after,  .logged-mfc-list .timelineInput::after {
   /* display: none; */
}

.inputTextLefttoRight input{
    text-align: right;
}

.leftmsg .pop-notifbox {
    /* right: 54px; */
    left: 0;
    top: 38px;
}
.rightmsg .pop-notifbox {
    right: 0;
    display: inline-table;
    left: inherit;
    top: 38px;
}
.leftmsg .pop-notification::after {
    top: -17px;
    left: 10px;
}
.rightmsg .pop-notification::after{
    top: -17px;
}
.rightmsg  .input-group-addon, .leftmsg  .input-group-addon{
    color: #fff;
}

.rightmsg .input-group-addon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 1px;
    height: 20px;
    background: #fff;
}
.leftmsg .input-group-addon:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    width: 1px;
    height: 20px;
    background: #fff;
}